/* Basic jQuery Slider essential styles */

ul.bjqs {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	/*overflow: hidden;*/
	display: none;
}
li.bjqs-slide {
	position: absolute;
	display: none;
	text-align: center;
	background: whitesmoke;
}
ul.bjqs-controls {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 9999;
}
ul.bjqs-controls.v-centered li a {
	position: absolute;
	  width: 50%;
  height: 100%;
  top: 0;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
	right: 0;
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
	left: 0;
}
ol.bjqs-markers {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
ol.bjqs-markers.h-centered {
	text-align: center;
}
ol.bjqs-markers li {
	display: inline;
}
ol.bjqs-markers li a {
	display: inline-block;
}
/*p.bjqs-caption {
	display: block;
	width: 100%;
	margin: 0;
	padding: 2%;
	position: absolute;
	bottom: 0;
}*/
p.bjqs-caption {
	width: 430px; /* changed by script in template file */
  margin: 0;
  padding: 5% 2% 0% 8%;
  position: absolute;
  bottom: -8px;
  right: -430px;
  font: italic 18px/1.5 'Istok Web', serif;
  display: block;
  color: #989898;
  text-align: left;
}
/* Demo CSS - You do not need this css in your own slider */

body {
	font-family: "Open Sans", helvetica, arial;
}

pre {
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

h2 {
	font-size: 48px;
}

pre + h2 {
	margin-top: 80px;
}

#container {
	max-width: 620px;
	margin: 0 auto;
	padding-bottom: 80px;
}

#banner-fade, #banner-slide {
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a {
	display: block;	
	color: transparent;
}

ul.bjqs-controls.v-centered li a:hover:before {    
    opacity: 1;
}

ul.bjqs-controls.v-centered li a:before {
    content: ''; 
    position: absolute;
    top: 50%;
    width: 18px;    
    height: 30px;;
    background:  url(img/arrows.png) no-repeat;    
    margin-top: -15px;
    transition: opacity .5s ease-in;
    opacity: 0;
}

ul.bjqs-controls.v-centered li a[data-direction="previous"]:before{
	left: -38px;
	background-position: 0 -30px;
}

ul.bjqs-controls.v-centered li a[data-direction="forward"]:before{
	right: -38px;
	background-position: 0 0;
}


ul.bjqs-controls.v-centered li a:hover {
	
}

ol.bjqs-markers li a {
	padding: 5px 10px;
	background: #000;
	color: #fff;
	margin: 5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover {
	background: #999;
}

p.bjqs-caption {
	background: rgba(255,255,255,0.5);
}