@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic&subset=latin,cyrillic);
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*#region Base styles */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

p {
    font-family: 'Istok Web';
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*#endregion */

/*#region Custom styles */
/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
    /*display: none;
    opacity: 0;*/
    color: #4c4c4c;
    font-size: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

.g_wrapper, .nav_wrapper, .b_wrapper {
    width: 100%;
}

.g_wrapper {
    position: relative;
    opacity: 1;
    background: url(img/bg_pat.png);
    overflow-x: hidden;
}

.nav_wrapper {
    position: fixed;
    left: 0;
    display: block;
    min-height: 1%;
    z-index: 1001;
    width: 100%;
}

    .nav_wrapper nav {
        padding: 0 3px 0;
        z-index: 100;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

		.secondary .nav_wrapper nav {
			  border-bottom: 32px solid #efefef;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%, rgba(237,235,232,0.67) 23%, rgba(230,227,224,0.96) 79%, rgba(230,226,223,0.97) 83%, rgba(230,226,223,1) 90%, rgba(230,226,223,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(240,238,236,0.58)), color-stop(23%,rgba(237,235,232,0.67)), color-stop(79%,rgba(230,227,224,0.96)), color-stop(83%,rgba(230,226,223,0.97)), color-stop(90%,rgba(230,226,223,1)), color-stop(100%,rgba(230,226,223,1)));
  background: -webkit-radial-gradient(center 0%, circle closest-corner, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%);
  background: -o-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%);
  background: -ms-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%);
  background: radial-gradient(circle at center top, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94f0eeec', endColorstr='#e6e2df',GradientType=1 );
		}

.logo {
    float: left;
  padding-top: 20px;
  padding-left: 15px;
  display: block;
  width: 20%;
}

.logo:focus {
	outline: none;
}

    .logo .main {
       width: 100%;
  height: auto;
  margin-top: 0px;
    }

    .logo .minor {
        display: none;
    }

.menu_items {
      width: 80%;
  float: right;
  padding-left: 2em;
  margin-top: 5%;
  text-align: right;
}


    .menu_items li {
          list-style: none;
		  display: inline-block;
		  zoom: 1;
		  padding-left: 1em;
		  padding-right: 2em;
		  text-transform: uppercase;
		  font: normal 700 .9em 'Open Sans', sans-serif;
    }

        .menu_items li:first-child {
            padding-left: 0px;
        }


        .menu_items li:last-child {
            padding-right: 0px;
        }

a {
    text-decoration: none;
    color: #f75433;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    -ms-transition: color .5s ease-in;
    transition: color .5s ease-in;
}

    a:hover,
    a.read_more:visited,
    .partners a:visited {
        color: #B33A21;
    }

.menu_items li.active a {
    color: #4c4c4c;
}

.nav_wrapper.minor {
    background: url(img/menu_shdw.png) repeat-x 0 bottom;
    height: 115px;
}

.minor .menu_items {
    margin-top: 36px;
}

.minor .logo {
    padding-top: 17px;
}

    .minor .logo .main {
        display: none;
    }

    .minor .logo .minor {
        display: inline-block;
        width: 100%;
    }



.deco_angle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 400px 0 0 0;
    position: absolute;
}

    .deco_angle.outer {
        border-color: transparent #efefef #fcfcfc;
        bottom: 114px;
    }

    .deco_angle.inner {
        border-color: transparent #fcfcfc;
        bottom: 76px;
    }

.back {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fcfcfc;
}

.section {
    background: #fcfcfc;
}

    .section.grdnt_bg,
    .secondary .section {
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMGVlZWMiIHN0b3Atb3BhY2l0eT0iMC41OCIvPgogICAgPHN0b3Agb2Zmc2V0PSIyMyUiIHN0b3AtY29sb3I9IiNlZGViZTgiIHN0b3Atb3BhY2l0eT0iMC42NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI3OSUiIHN0b3AtY29sb3I9IiNlNmUzZTAiIHN0b3Atb3BhY2l0eT0iMC45NiIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiNlNmUyZGYiIHN0b3Atb3BhY2l0eT0iMC45NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNlNmUyZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTZlMmRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%, rgba(237,235,232,0.67) 23%, rgba(230,227,224,0.96) 79%, rgba(230,226,223,0.97) 83%, rgba(230,226,223,1) 90%, rgba(230,226,223,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(240,238,236,0.58)), color-stop(23%,rgba(237,235,232,0.67)), color-stop(79%,rgba(230,227,224,0.96)), color-stop(83%,rgba(230,226,223,0.97)), color-stop(90%,rgba(230,226,223,1)), color-stop(100%,rgba(230,226,223,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center 0%, circle closest-corner, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* IE10+ */
        background: radial-gradient(circle at center top, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94f0eeec', endColorstr='#e6e2df',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    }

.display_slide {
    display: inline-block;
    max-width: 500px;
    margin-top: -245px;
    font-family: 'Istok Web', sans-serif;
    text-align: center;
    opacity: 0;
}

.fp-slides .display_slide {
	opacity: 1;
}

.slide_title {
    font-size: 29px;
    margin-bottom: 0;
}

.slide_title,
.slide_desc {
    position: relative;
    /* display: none; */
    text-align: center;
    z-index: 100;
}

.slide_desc {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2em;
}

.divider {
    position: relative;
    width: 15%;
    height: 2px;
    margin: .6em auto 1em;
    background: #f75433;
}

.content_row .divider,
.title_container .divider {
    background: #e2e2e0;
    margin: 1em 0;
}

.secondary .title_container .divider{
	  background: #f75433;
} 

.title_container .divider {
    margin: 1.5em auto 0em;
    width: 7%;
}

.partner_main_grid .divider {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 12px;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.btn_d:hover,
.btn_d:focus {
    color: #f75433;
    text-decoration: none;
    background: rgba(247, 84, 51, 0.04);
}

.btn_g:hover,
.btn_g:focus {
    color: #B4B4B4;
    text-decoration: none;
    background: rgba(180, 180, 180, 0.14);
}

.btn_d:focus,
.btn_d:active {
    outline: thin dotted #f75433;
    outline-offset: -1px;
}

.btn_g:focus,
.btn_g:active {
    outline: thin dotted #B4B4B4;
    outline-offset: -1px;
}

.btn_d:active {
    background: #f75433;
    color: #fff;
    outline: none;
}

.btn_g:active {
    background: #B4B4B4;
    color: #fff;
    outline: none;
}


.btn_d {
    border: 3px solid #f75433;
    color: #f75433;
}

.btn_g {
    border: 3px solid #B4B4B4;
    color: #B4B4B4;
    text-decoration: none;
    margin-top: 1.1em;
}

.index .projects {
	padding-bottom: 4em;
}
.team .title_container,
.company_news .title_container,
.area_news .title_container {
    padding-top: 5em;
    padding-bottom: 2em;
}

.title_container h1 {
    margin: 0;
    text-align: center;    
    line-height: 1.53333;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.title_container p {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

.products .fp-tableCell,
/*.projects .fp-tableCell,*/
.partners .fp-tableCell,
.contacts .fp-tableCell {
    vertical-align: top;
}

.partners {
	margin-bottom: 4em;
}

.partners,
.contacts {
    /*position: relative;*/
    background-color: #F6F6F6;
}

    .partners .title_container {
        width: 100%;
    }

    .index .partners:before,
    .index .partners:after,
    .index .contacts:before,
    .index .contacts:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 7px;
        left: 0;
    }

    .index .partners:before {
        background: url(img/bg_partners_top.gif) repeat-x 0 100%;
    }

    .index .partners:after {
        background: #F6F6F6 url(img/bg_partners_bottom.gif) repeat-x 0 100%;
        padding-top: 4em;
    }
/*#endregion */

/*#region Helper styles */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    /*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/*#endregion */

/*#region Responsive design styles */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*#endregion */

/*#region Grid styles */
.container {
	width: 75%;
    max-width: 75em;
    margin: 0 auto 0px;
    position: relative;
}

section footer.container {
  margin-top: 2.8em;
}

.content_row .container:before,
.content_row .container:after,
.partners .container,
.team .container,
.company_news .container,
.area_news .container,
.contacts .container,
.news_filter.container,
.partner .container,
.project .container,
.project figure,
aside ul li:before,
aside ul li:after {
    content: " ";
    display: table;
    clear: both;
   width: 100%; /* решает хрень с процентным по ширине вложенным контентом http://gyazo.com/fac74bea811c29add63d01b8aab09307*/
}


.content_row {
    position: relative;
}

.products .content_row {
    min-height: 500px;
}

.content_row .content_row_text {
    text-align: left;
    color: #4c4c4c;
}

.content_row_text p {
    font: normal normal 16px/22px 'Istok Web', sans-serif;
}

.content_row .content_row_text h1 {
    font: normal bold 22px Georgia, serif;
}

.content_row .content_row_text em {
    font: italic normal 14px/20px Georgia, serif;
}

.content_row .content_row_img {
    width: 100%;
    height: 10em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3d4351;
}
.content_row footer a {
    font: italic normal 12px Georgia, serif;
    text-decoration: underline;
}

    .content_row footer a:hover {
        text-decoration: none;
    }

/*#endregion */

/*#region Projects_slider styles */

.projects_slides .content_row .content_row_img {
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
}


.projects_slider_controls,
.projects_slides {
    list-style: none;
}

.projects_slider_controls {
    margin-bottom: 70px;
    padding-left: 0;
}

    .projects_slider_controls li {
        display: inline-block;
        padding: 0 3em;
    }

        .projects_slider_controls li a,
        .news_filter li a,
        .partner header,
        .project header {
            color: #cfe2e2;
            font: bold 23px Georgia, serif;
            text-decoration: none;
        }

            .projects_slider_controls li.current a,
            .projects_slider_controls li a:hover,
            .news_filter li.active a,
            .news_filter li a:hover,
            .partner header,
            .project header {
                color: #62c0c0;
                -webkit-transition: color .5s ease-in;
                -moz-transition: color .5s ease-in;
                -o-transition: color .5s ease-in;
                -ms-transition: color .5s ease-in;
                transition: color .5s ease-in;
                cursor: pointer;
            }

                .projects_slider_controls li.current a:hover,
                .news_filter a:hover {
                    color: #2da3a3;
                }

.projects_slides {
    position: relative;
    padding-left: 0;
    margin: 1em 0 2.8em;
}
    .projects_slides li {
        /* position: absolute; */
        display: none;
        min-height: 156px;
    }

        .projects_slides li.current {
        }

    .projects_slides:before {
        background: none repeat scroll 0 0 #ebebeb;
        bottom: 0;
        content: "";
        right: 50%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .projects_slides:after {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #ebebeb;
        top: 30px;
        content: "";
        height: 0;
        position: absolute;
        left: 50%;
        width: 0;
    }
/*#endregion */

/*#region Partner styles */
.partner_main_grid {
    display: inline-block;
    vertical-align: top;
}

    .partner_main_grid a,
    .partner_minor_grid a {
        display: block;
        padding: 1em;
    }

    .partner_main_grid a {
        font: normal 12px/18px 'Istok Web', sans-serif;
        text-decoration: none;
        position: relative;
    }

    .partner_main_grid figcaption {
        padding: 0 3em;
    }

    .partner_main_grid img {        
        margin: 25px 0 42px;
        position: relative;
        height: 90px;
    }

         .partner_main_grid img.colored {
             /* left: 50%;
             margin-left: -110px; */
         }

.partner_minor_grid {
    display: inline-block;
    width: 16.6666%;
    margin: 3em 0 2em;
}

    .partner_minor_grid a {
        padding: 0 1em;
    }

    .partner_minor_grid img {
        width: 100%;
    }
/*#endregion */

/*#region Team styles */
.team .c-left,
.team .c-right {
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 4em;
}

.c-left p {
    margin-right: 1.5em;
}

.c-right p {
    margin-left: 1.5em;
}

 .team .photos {
 overflow: hidden;
  text-align: center;
  width: 100%;
}
.box {
	  display: inline-block;
  position: relative;
  width: 20%;
  padding-bottom: 238px
}

.boxInner {
	  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
    .box img {
       height: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 0;
    }

    .titleBox {
        background: url(img/bg_team_member.png);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1.1em;
    }

        .titleBox > * {
            display: block;
            /* padding-left: 1.8em; */
            text-align: left;
        }

    .titleBox b {
        color: #62c0c0;
        font-size: 1em;
        font-weight: normal;
       /*  padding-top: 1.1em;
        padding-right: 0.8em; */
        max-height: 2.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  	white-space: nowrap;
  	white-space: nowrap;
  
    }

    .titleBox em {
        color: #fff;
        font-style: normal;
        padding-bottom: .6em;
    }

/*#endregion */

/*#region Company news styles */

.company_news article {
    margin-top: 1em;
    padding-bottom: 3em;
    text-align: left;
}

    .company_news article:last-child {
        margin-bottom: 0;
    }

.desc {
    float: right;
    /* width: 83%;  - непонятно, почему стояла эта величина. изменено для адекватного отображения на главной */
   width: 75%;
   padding-left: 2em; /*http://gyazo.com/2d530bb5d0abdfc2d732af078cd84908*/
}

    .desc header h1,
    .details h1 {
        font: normal bold 1.4em Georgia, serif;
        margin-top: 0;
    }

    .desc header span,
    .details h1 span {
        font: normal 700 14px 'Istok Web', sans-serif;
        color: #b9b9b9;
        white-space: nowrap;
    }

.pic {
    margin-right: 90%;
}

.intro {
    display: block;
    margin-left: 13%;
    padding-right: 20px;
}

	.details .intro {
		margin-left: 0;	
	}
	
.date {
    float: left;
    width: 10%;    
}

.date,
.meta {
	font: normal 700 16px 'Istok Web', sans-serif;
    color: #4c4c4c;
}

    .date p,
    .meta p {
        margin: 0;
        line-height: 1em;
    }

a.read_more {
    text-decoration: underline;
}

    a.read_more:hover {
        text-decoration: none;
    }

/*#endregion */

/*#region Area news styles */

    .area_news .container {
        margin-bottom: 2.8em;
        text-align: left;
    }
		
		.area_news footer.container {
			  text-align: center;
			}

    .area_news .category {
        float: left;
        width: 50%;
    }

    .area_news article {
        margin-bottom: .7em;
        padding-bottom: 0;
    }

    .area_news .intro {
        margin-left: 18%;
        font-size: .8em;
        /* Show only 4 lines */
       /*(4 * 1.2 = 4.2)*/
       max-height: 4.3em; 
      
    }

	.area_news .intro {
		 cursor: pointer;
		   margin-bottom: 0.7em;
	}
    .area_news h2 {
        font: normal bold 1.4em Georgia, serif;
    }

    .area_news .date {
        font: italic normal 1em 'Istok Web', sans-serif;
        color: #b9b9b9;
    }

/*#endregion */

/*#region Contacts news styles */

.section.contacts {
    margin-bottom: -70px;
}

.phones,
.hours,
.emails {
    display: inline-block;
    font-size: 1.2em;
    text-align: left;
    width: 33.3333%;
}

.hours {
    text-align: center;
}

.contacts .container {
    width: 100%;
      padding-left: 1em;
  padding-right: 1em;
}

.contacts:before {
    background: url(img/bg_partners_top.gif) repeat-x 0 100%;
}

.contacts:after {
    background: url(img/bg_partners_bottom.gif) repeat-x -110px 100%;
    bottom: 70px;
}


.phones {
    padding-left: 50px;
    background: url(img/phone.png) 0 50% no-repeat;
    float: left;
}

    .phones p,
    .hours p,
    .emails p {
        margin: 0;
        line-height: 33px;
        min-height: 33px;
    }

.emails {
    padding-left: 50px;
    background: url(img/email.png) 0 50% no-repeat;
    float: right;
}

footer.page_footer {
    height: 70px;
    text-align: center;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
}


.workdays,
.wknd {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.workdays {
    background: #4c4c4c;
}

.wknd {
    border: 3px solid;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/ajax-loader.gif) no-repeat 50% 50%;
    background: #f6f6f6 url(img/ajax-loader.gif) no-repeat 50% 50%;
    z-index: 1;
}

.ymaps-balloon__content {
    font: normal 700 16px 'Istok Web', sans-serif;
}

/*#endregion */

body.secondary {
    /*padding-bottom: 70px;*/
}

.secondary .logo .main {
    width: 130px;
    margin-top: 0;
    margin-bottom: 30px;
}

.secondary section {
    position: relative;
}

.secondary .deco_angle {
    border-top-width: 229px;
}

    .secondary .deco_angle.outer {
        top: 140px;
    }

    .secondary .deco_angle.inner {
        top: 165px;
    }

.secondary .container {
    /*max-width: 1024px;
    min-width: 960px; - надо понять откуда для чего эта хрень */
}

.secondary .nav_wrapper {
    position: absolute;
     background: url(img/bg_pat.png)!important;
}

.secondary .title_container h1 {
    text-align: left;
    font-size: 2rem;
}

.secondary .container header {
    cursor: default;
}

.secondary .section {
    position: absolute;
    height: 182px;
    left: 0;
    right: 0;
}

.secondary .title_container,
.secondary .breadcrumbs {
    /*padding: 22em 0 2em;*/
    padding: 19em 0 2.9em;
}

/* company_news template */
.secondary .pic {
	 width: 10%;
}

.secondary .desc {
   /* для чего сделано узнать
    width: auto;*/
   width: 90%;
}

.secondary footer.page_footer {
  border-top: 1px dotted rgb(228, 228, 228);
}

.page_footer .inner {
    line-height: 70px;
    color: #313131;
}

.push {
    height: 60px;
}

.partner header,
.project header {
    margin-bottom: 2.9em;
}


/*#region Nav panel in project&partner styles */
.nav_panel {
    height: 86px;
    position: relative;
    margin: 0 auto;
}

.prev_partner, 
.next_partner {
    font-size: 13px;
    line-height: 30px;
    color: #959595;
    text-decoration: none;
    display: block;
    background: url(img/arrows.png) no-repeat;
    transition: none;
}

.prev_partner {    
    float: left;
    position: relative;   
    padding-left: 27px;
    top: 26px;
    left: 6px;
    background-position: 0 -90px;   
}

.next_partner {
    float: right;
    position: absolute;
    padding-right: 27px;
    top: 26px;
    right: 6px;
    background-position: 100% -60px;
}

.prev_partner:hover {
	background-position: 0 -30px;
}

.next_partner:hover {
	background-position: 100% 0;
}
/*#endregion */

/*#region Other rules for responsiveness*/

/* ===== == = === 20em (320px) === = == ===== */

@media only screen and (min-width : 20em) {
	body {
		background: red;
	}
	
	.projects_slides:before {
		right: 0;
	}
	
	.projects_slides .content_row .content_row_img img {
		/* max-height: 168px; */
	}
	
	.container {
		width: 100%;
	}
	
	.logo {
		width: 10%;
	}
	
	.menu_items {
		width: 90%;
	}
}

.partner_main_grid {
	    width: 100%;
	}
	
	 body {
        font-size: 14px;
    }
    
   .c-left p {
   		margin:0 0.5em 0 1em;
   }
   
   .c-right p {
   		margin: 0 1em 0 0.5em;
   }
   
   .area_news .category {
   		padding-left: 1em;
   }
   
   .area_news .date {
   		font-size: 0.8em;
   }
   
   .projects_slides:before {
   		right: 0;
   }
   
   .content_row_text {
	   	margin: 0 auto;
	  padding: 0;
	  text-align: center;
   }
   
   .content_row_text p {
   	text-align: left;
   }
   
    .content_row .content_row_img {
        height: 20em;
        position: static;
    }
    
    .photo_inner {
		display: none;
	}

	.news_text .meta {
		  width: 11.75%;
	}
	
	.news_text .details {
		  margin-left: 13.75%;
		    width: 86.25%;
	}

	
/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (min-width : 30em) {
	body {
		background: green;
	}
	
	  .content_row .content_row_img {
        height: 20em;
        position: static;
    }
    
    .projects_slides .content_row .content_row_img img {
        display: block;
        margin: 0 auto;
        height: 100%;
    }        
    .content_row .content_row_text {
        max-width: 85%;
        padding-left: 6em;
    }
    
     .projects_slides:before {
   		right: 0;
   }
   
    .projects_slides .content_row_text {
	   	margin: 0 auto;
		padding: 0 6em 2em;
   }
   
    .projects_slides .content_row_text p {
   	text-align: left;
   }
   
   .projects_slides .content_row .content_row_img {
   	  /* height: auto; */
   }
   
   .projects_slides:after {
   		border: 0 none;
   }
   
     .projects_slider_controls li a,
        .news_filter li a,
        .partner header,
        .project header {
        	font-size: 18px;
        }
        
        .projects_slides a {
        	border: 0 none;
  padding: 0;
  border-bottom: 1px solid;
  transition: border .3s cubic-bezier(0.4, 0, 1, 1);
  position: relative;
        }
        
        .projects_slides a:hover {
        	background: none; 
        	  border-color: transparent;       	
        }
        
        .projects_slides a:after {
        	content: " ";
  text-decoration: none;
  position: absolute;
  right: -1.5em;
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(195, 195, 195);
  top: 50%;
  margin-top: -3px;
        }
}

.partner_main_grid {
    width: 33.3333%;
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 37.5em) {
	body {
		background: pink;
	}
	
	.partner_main_grid img {
		height: 60px;
	}
	
	.title_container {
    	padding: 2em 1em 2em;
	}
	
	
	.secondary .container {
		width: 100%
	}
	
	.secondary .logo .main {
		width: 100%;
	}
}

/* ===== == = === 48em (768px) === = == ===== */
/*@media (max-width: 47.5em)*/
@media only screen and (min-width : 48em) {
	body {
		background: yellow;
	}
	
	
	.logo {
		width: 20%;
		max-width: 150px;
	}
	
	.menu_items {
		width: 80%;
	}
	
	
	.projects_slides:before {
   		  background: none repeat scroll 0 0 #ebebeb;
  bottom: 0;
  content: "";
  right: 50%;
  position: absolute;
  left: 0;
  top: 0;
   }
   .projects_slides:after {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ebebeb;
  top: 30px;
  content: "";
  height: 0;
  position: absolute;
  left: 50%;
  width: 0;
}
   
   .content_row_text {
	   	margin: 0 auto;
	  padding: 0;
	  text-align: center;
   }
   
   .content_row_text p {
   	text-align: left;
   }
   
    .content_row .content_row_img {
        height: 20em;
        position: static;
    }
	
	.content_row .content_row_img {
        opacity: 1;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
    }

    .content_row.even .content_row_img {
        left: 0;
        right: auto;
    }
    
     .content_row .content_row_text {
        float: left;
        width: 42%;
        padding: 2.5em 6em 2em 2em;
    }

    .content_row.even .content_row_text {
        float: right;
        padding: 2.5em 6em 0 2em;
    }
    
    .title_container {
    padding: 4em 2em 4em;
}

}

/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (min-width : 56.25em) {
	body {
		background: black;
	}
	.title_container {
	    padding: 8em 2em 3em;
	}
	
	.container,
	.secondary .container  {
 		 /*width: 75%; - вспомнить для чего, а потом раскомментировать*/
	}
	
}

/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (min-width : 68.75em) {
	body {
		background: gray;
	}
	
	.photo_inner {
		display: block;
	}
	
	.news_text .meta {
		   width: 22.75%;
	}
	
	.news_text .details {
		margin-left: 25.75%;
		 width: 74.25%;
	}
}

/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (min-width : 81.25em) {
body {
		background: magenta;
	}
}
/*#endregion */


/*#region Partner */
/**TODO media queries + test on all pages*/

body {
    overflow-x: hidden;
}

.partner .desc {
    display: block;
    float: left;
    margin-left: 25%;
    margin-right: -100%;
    /*width: 78%;*/
    width: 75%;
}

.desc p:first-child {
    margin-top: 0;
}

.pic {
    display: block;
    float: left;
    width: 25%;
    margin-left: 0;
    margin-right: -100%;  
      text-align: center;  
}

.pic.no-img {
	position: relative;
	background: #FFEAEA url(img/company_news_img_placeholder.png) no-repeat 50% 0;
	background-size: contain;
	max-height: 128px;
}

.pic.no-img:before {
  content: "";
  display: block;
  padding-top: 100%;
}
	.pic img {
		max-width: 100%;
	}
	
    .pic a {
        padding-top: 2em;
        display: inline-block;
        color: #4c4c4c;
        font-size: .8em;
        border-bottom: 1px solid #4c4c4c;
        -webkit-transition: border 500ms ease-out;
        -moz-transition: border 500ms ease-out;
        -o-transition: border 500ms ease-out;
    }

        .pic a:hover {
            border-bottom: 1px solid transparent;
        }
    
body.secondary {
    padding-bottom: 0;
}

.secondary .section {
   
}

.gradient {
    height: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMGVlZWMiIHN0b3Atb3BhY2l0eT0iMC41OCIvPgogICAgPHN0b3Agb2Zmc2V0PSIyMyUiIHN0b3AtY29sb3I9IiNlZGViZTgiIHN0b3Atb3BhY2l0eT0iMC42NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI3OSUiIHN0b3AtY29sb3I9IiNlNmUzZTAiIHN0b3Atb3BhY2l0eT0iMC45NiIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiNlNmUyZGYiIHN0b3Atb3BhY2l0eT0iMC45NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNlNmUyZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTZlMmRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%, rgba(237,235,232,0.67) 23%, rgba(230,227,224,0.96) 79%, rgba(230,226,223,0.97) 83%, rgba(230,226,223,1) 90%, rgba(230,226,223,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(240,238,236,0.58)), color-stop(23%,rgba(237,235,232,0.67)), color-stop(79%,rgba(230,227,224,0.96)), color-stop(83%,rgba(230,226,223,0.97)), color-stop(90%,rgba(230,226,223,1)), color-stop(100%,rgba(230,226,223,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center 0%, circle closest-corner, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* IE10+ */
    background: radial-gradient(circle at center top, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94f0eeec', endColorstr='#e6e2df',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

/*#endregion*/

/*#region Company News */

body {
    position: relative;
    padding-bottom: 100px;
    overflow-x: hidden;
}

article {
    padding-bottom: 5em;
    background: #fcfcfc;
}

.photo_container {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 127px;
}

.photo_inner {
    position: relative;
    overflow: hidden;
}

    .photo_inner img {
        margin: 0 auto;
        max-width: 100%;
        width: auto;
    }


.overlay {
    background: url(img/bg_news_author.png);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.news_text header span {
    padding-left: .9em;
}

 .news_text .meta {
 	text-align: right;
 }
	 .news_text .meta {
	  display: block;
	  float: left;
	  margin-left: 0;
	  margin-right: -100%;
	 
	  font: normal 700 16px 'Istok Web', sans-serif;
 	 color: #4c4c4c;
 	 
	}
	.news_text .details {
		  display: block;
		  float: left;		  
		  margin-right: -100%;		 
	}


.g_wrapper {
    position: relative;
    opacity: 1;
    background: url(img/bg_pat.png);
    min-height: 100%;
    height: auto;
    margin-bottom: -71px;
}

body.secondary {
    padding-bottom: 0;
}

.g_wrapper {
    background-color: #fcfcfc!important;
    background-image: none;
}

/*.secondary .section {
    background: url(img/bg_pat.png)!important;
}- не понятна причина дублирования 1616*/

.gradient {
    height: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMGVlZWMiIHN0b3Atb3BhY2l0eT0iMC41OCIvPgogICAgPHN0b3Agb2Zmc2V0PSIyMyUiIHN0b3AtY29sb3I9IiNlZGViZTgiIHN0b3Atb3BhY2l0eT0iMC42NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI3OSUiIHN0b3AtY29sb3I9IiNlNmUzZTAiIHN0b3Atb3BhY2l0eT0iMC45NiIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MyUiIHN0b3AtY29sb3I9IiNlNmUyZGYiIHN0b3Atb3BhY2l0eT0iMC45NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNlNmUyZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTZlMmRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%, rgba(237,235,232,0.67) 23%, rgba(230,227,224,0.96) 79%, rgba(230,226,223,0.97) 83%, rgba(230,226,223,1) 90%, rgba(230,226,223,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(240,238,236,0.58)), color-stop(23%,rgba(237,235,232,0.67)), color-stop(79%,rgba(230,227,224,0.96)), color-stop(83%,rgba(230,226,223,0.97)), color-stop(90%,rgba(230,226,223,1)), color-stop(100%,rgba(230,226,223,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center 0%, circle closest-corner, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, circle cover, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* IE10+ */
    background: radial-gradient(circle at center top, rgba(240,238,236,0.58) 0%,rgba(237,235,232,0.67) 23%,rgba(230,227,224,0.96) 79%,rgba(230,226,223,0.97) 83%,rgba(230,226,223,1) 90%,rgba(230,226,223,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94f0eeec', endColorstr='#e6e2df',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.secondary .gradient {
	border-bottom: 32px solid #efefef;
}

/*#endregion*/


/*#region Partners & Project*/
/*TODO: make similar tags*/
.section_icon {
	margin: 0 auto;
	width: 64px;	
	background: transparent url(img/section_icon_sprite.png);
	margin-bottom: 2.5em;
}

.section_icon.partners {
	background-position: 0 0;
	height: 36px;
}

.section_icon.projects {
	background-position: 0 -36px;
	height: 53px;
}

.section_icon.products {
	background-position: 0 -89px;
  height: 55px;
}

.section_icon.area_news {
	background-position: 0 -145px;
  height: 47px;
}

.section_icon.company_news {
	background-position: 0 -192px;
  height: 53px;
}

.secondary .title_container {
	text-align: center;
}

.secondary .title_container h1 {
  font-size: 5rem;
    text-align: center;
  font-weight: 300;
}
	
	.items_container {
		  position: relative;
  margin: 30px auto 0;
  max-width: 630px;
	}
	
	.item {
		position: relative;
  padding: 30px 30px 4px 0;
  margin-bottom: 60px;
  min-height: 100px;
  box-shadow: 2px 7px 29px 0 rgba(38, 38, 38, 0.1);
  background-color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 65%, rgba(0, 0, 0, 0.03) 100%);
  transition: 0.25s;
}

.item,
.item span {
	color:  #4c4c4c;
	display: block;
}

.item .item_img {
	width: 80px;
  	float: left;
  	margin: 0px 0 15px 30px;
}
.item .item_img img {
	width: 100%;
}

.item .item_name {
	font-size: 1.5em;
  line-height: 1.52;
  font-weight: 700;
  color: #505050;
    margin-left: 8.35rem;
}

.item_description {
  margin-top: 14px;
  margin-bottom: 26px;
  margin-left: 146px;
  margin-top: 0.875rem;
  margin-bottom: 1.625rem;
  margin-left: 8.35rem;
  font-size: 1em;
}

.item:hover {
	-webkit-transform: translate(0,-5px);
  -moz-transform: translate(0,-5px);
  -o-transform: translate(0,-5px);
  -ms-transform: translate(0,-5px);
  transform: translate(0,-5px);
}

.slogan {
	padding-left: 0;
	margin: 0;
}

.slogan li {
	  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.section_description {
	line-height: 1.556;
  font-size: 1rem;
  color: #A0A0A0;
  font-weight: 300;
  margin: 2rem 6rem 0;
}

/*#endregion*/

/*#region industry_news_item */

.news_item h1 {
	font-size: 32px;
	  line-height: 1.5;
	  font-family: 'Georgia';
	 margin: 0 0 0.67em;
}

.news_header {
	 width: 80%;
	   width: calc(100% - 340px);
	   float: left;
}

.company_news .news_header {
	width: 100%;
	float: none;
}

.news_related_categories {
	font: 11px Arial,sans-serif;
  line-height: 22px;
  
  width: 260px;
    margin: 0 0 10px 80px;
    padding: 0;  
  display: inline-block;
  background: whitesmoke;
  padding: 16px;
}

.news_related_categories:before  {
	content: 'Данная статья относится к категории: ';
  font-weight: 700;
}

.news_related_categories li {
	display: inline-block;
  list-style-type: none;
}

.news_related_categories li a {
	color: #62c0c0;
	  text-transform: uppercase;
  font: 400 10px/16px Georgia,Serif;
}
.news_related_categories li a:hover {
	color: #2da3a3;
}

.news_related_categories li:after {
	  content: ',';
  color: #999;
}

.news_related_categories li:last-child:after {
  content: '';
}

.news_resource a{
	text-transform: uppercase;
  	font-weight: 700;
}

.news_resource:before {
	content: 'Источник:';
}

.news_header time {
	display: block;
	margin-top: 3em;
	margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: rgb(158, 158, 158);
}

.company_news .news_header time {
	margin-top: 0.5em;	
}

 /* Май 19, 2015. Вторник 03:15 */
.news_header time:before {
	content: attr(data-datetime-month)' 'attr(data-datetime-day)', ' attr(data-datetime-year)'. ' attr(data-datetime-weekday)' 'attr(data-datetime-clock);
}

.article_body {	  
  font-size: 16px;
  line-height: 27px;
 /* все для буквицы и более менее-колонок*/
  float: left;
}

.article_content::first-letter {
  display: inline-block;
  margin: -4px 10px 0px 0px;
  font-size: 72px;
  line-height: 66px;
  font-family: Georgia, serif;
  font-weight: 700;
  padding: 5px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  float: left;
}

.article_body p {
	  /*width: calc(100% - 340px);*/
}

.article_body aside {
	  float: right;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  display: block;
  /* clear: right; */
  position: relative;
  z-index: 25;
  width: 170px;
  margin: 10px 0 10px 10px;
}

aside .column_header {
	position: relative;
	padding: 5px 0 5px 22px;
  /*font-weight: 700;
  font-family: Georgia;
   font-size: 15px;*/
 font-weight: 100;
  font-family: 'Open Sans';
 font-size: 20px;
  line-height: 18px;
  color: #8B8B8B;  
}

aside .column_header:before {
	content: '';
	position: absolute;
	left:0;
	background: url(img/area_news_column_headers_sprite.png) no-repeat 0 50%;	
}

.related_news .column_header:before {
	width: 17px;
	height: 18px;
	background-position: 0 0;
}

.latest_news .column_header:before {
	 width: 17px;
  height: 20px;
  background-position: 0px -17px;
}

.time_and_date_short {
	display: block;
	clear: left;  
  float: left;
  margin-top: 3px;
   white-space: nowrap;
  color: #B6B6B6;
  line-height: 1;
  text-align: right;
  width: 20%;
  font-size: 10px;
  overflow: hidden;
  text-decoration: none;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
  margin-bottom: 1.2em;
}

aside dl {
	clear: none;
  display: block;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 80%;
  padding-left: 10px;
}

aside ul dt {
	line-height: 0;
}


aside ul dt a {
    color: #62c0c0;
    text-transform: uppercase;
    font: 400 10px/16px Georgia,Serif;
}

aside ul dt a:after {
    content: ',';
}

aside ul dt a:last-child:after {
    content: '';
}


aside ul dd {
    margin: 0;
}

aside ul dd a {   
    line-height: 1.2;    
    font-weight: 600;
    font-family: 'Open Sans';
    color: #000;
}

aside ul dt a:hover {
    color: #2da3a3;
}

.time_and_date_short:before,
.time_and_date_short:after {
	display: block;
}

.time_and_date_short:before {
	content: attr(data-datetime-clock);
}

.time_and_date_short:after {
	content: attr(data-datetime-day)'.'attr(data-datetime-month-short)'.'attr(data-datetime-year-short);
}

@media only screen and (min-width: 420px) {
	.article_body aside {
	  left: 20px;
	  margin: 20px 0 20px 20px;
	  width: 150px;
	}
	
	aside ul dd a {
		font-size: 60%;
	}
}

@media only screen and (min-width: 700px) {
	.article_body aside {
	  margin-right: 0;
	}
	
	
}

@media only screen and (min-width: 1060px) {

	.article_body aside {
	  width: 320px;
	}
	
	aside ul dd a {
		font-size: 80%;
	}
}
/*#endregion*/

/*#region company_news_item.html styles */
	.news_author {
		font-weight: 700;
	}
	
	.news_author:before {
		content: 'Новость от:';
		  font-weight: normal;
	}
	
	.article_slider {
		margin: 2em 0 2em 0;
	}
	
	.news_header figure {
		margin-bottom: 2em;
		font-size: 0;
	}
	
	.news_header figure img {
		max-width: 70%;
  display: inline-block;
  vertical-align: bottom;
	}
	
	.news_header figcaption {
		width: 30%;
	  display: inline-block;
	    margin-bottom: -8px;
	  padding-left: 2%;
	  font: italic 18px/1.5 'Istok Web', serif;
	  color: #989898;
 }
		
	.no-slider .news_author {
		margin-top: 2em;
	}
/*#endregion*/