{% extends "secondary.html" %}
{% load staticfiles %}
{% block content %}
        <section>
            <header class="container title_container">
                <h1>{{ page_name }}</h1>
            </header>
                  
                      {% for item in page_context.object_list %}
                          <article>
                              <div class="photo_container">
                                  <div class="photo_inner">
                                      <div class="overlay"></div>
                                      <!--
                                        required image format 512px x 512px
                                        this is news main photo
                                        -->
                                      <img src= "{{ item.image.url|default:'static/img/company_news.png'}}" alt="" />
                                  </div>
                              </div>
                             <div class="container news_text clearfix">
                                
                                  <div class="meta">
                                    <p>{{ item.event_date|date:"F d"  }}</p>
                                                  <p>{{ item.event_date|date:"Y"  }}</p>
                                  </div>
                                  <div class="details">
                                    <h1>{{ item.name }}</h1>
                                    <a class="intro read_more" href=/project/{{ item.id }}>
                                        {% autoescape off %}
                                        {{ item.preview }}
                                        {% endautoescape %}
                                    </a>
                                    <p>{{ item.keywords }}</p>
                                  </div>
                              </div>
                          </article>
                      {% endfor %}
                      <div class="nav_panel container">
                      <span class="step-links">
                        {% if page_context.has_previous %}
                            <a href="/projects/{{ page_context.previous_page_number }}" class="prev_partner">Чуть ранее</a>
                        {% endif %}

                        {% if page_context.has_next %}
                            <a href="/projects/{{ page_context.next_page_number }}" class="next_partner">Чуть позже</a>
                        {% endif %}
                      </span>
                       </div>
                 
        </section>
{% endblock content %}