{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="container">
	 <header class="title_container">

            <div class="section_icon company_news"></div>
                <ul class="slogan">
                    {%  for item in division %}
                        <li>{{  item.slogan }}</li>
                    {% endfor %}
                </ul>
            <h1>{{ page_name }}</h1>
            <div class="divider"></div>
            <div class="section_description">
                {%  for item in division %}
                    {% autoescape off%}
                        {{ item.text }}
                    {% endautoescape %}
                {% endfor %}
            </div>
        </header>
	{% for item in page_context.object_list %}
        <article class="clearfix">
            <div class="desc">
                <header>
                    <h1>{{ item.name }}<span> от   {{ item.author.genetivus_name }} </span></h1>
                </header>
                <div class="clearfix">
                    <div class="date">
                        <p>
                            {{ item.event_date|date:"F d"  }}
                        </p>
                        <p>
                            {{ item.event_date|date:"Y"  }}
                        </p>
                    </div>
                    <a class="intro read_more" href="/company_news_item/{{ item.id }}"> {% autoescape off %}
                    {{ item.preview }}
                    {% endautoescape %} </a>
                </div>
            </div>
            <div class="pic{{ item.image|yesno:', no-img' }}">

                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="" />
                {% endif %}
            </div>
        </article>

	{% endfor %}

    <div class="nav_panel container">
        {% if page_context.has_previous %}
            <a href="{{ page_url }}{{ page_context.previous_page_number }}" class="prev_partner">previous</a>
        {% endif %}
        {% if page_context.has_next %}
            <a href="{{ page_url }}{{ page_context.next_page_number }}" class="next_partner">next</a>
        {% endif %}
      </div>
</section>
{% endblock content %}