{% extends "base.html" %}
{% load staticfiles %}

{% block css_block %}
	{% if image_count > 1 %}
		<link type="text/css" rel="stylesheet" href="{% static "css/bjqs.css" %}" />
	{% endif %}
{% endblock css_block %}		


{% block content %}
<section class="container company_news">
	<div class=" breadcrumbs">
		<a href="/">Главная</a> / <a href="/company_news/">Новости компании</a>
	</div>
	<article class="news_item clearfix">
		
		{% for item in page_context %}
		<div class="news_header{% if image_count == 1 %} no-slider{%endif%}">
			
			<h1>{{ item.name }}</h1>
			
			{% comment %}
			 Если автор новости добавил коллекцию картинок (поле "Изображения к новости от 1 до n),
			 	то строим слайдер
			{% endcomment %}
			
			{% if image_count > 1 %}
				<div class="article_slider" id="slider">
					<ul class="bjqs">
						{% for item in context_images %}
						<li>
							<img src="{{ item.image.url }}"
								 title="{{ item.text_image }}" />
						</li>
						{% endfor %}
					</ul>
				</div>
			{% comment %}
			 Если автор новости добавил только одну картинку в  коллекцию картинок (поле "Изображения к новости" = 1)
			 	или добавил только главную картинку к новости,
			 	то выводим просто картинку
			{% endcomment %}
			
			{% elif image_count == 1 %}
                    {% for item in context_images %}
	    		  	  <figure>
                      {% if item.image %}
                            <img src="{{ item.image.url|default:'static/img/company_news_img_placeholder.png'}}" alt="{{ item.text_image }}" />
                            <figcaption>{{ item.text_image }}</figcaption>
                      {% endif %}
	    		  	  </figure>
                    {% endfor %}           
			{% endif %}			
			
			<div class="news_author">
				{{ item.author.genetivus_name }}
			</div>
			<time data-datetime-month="{{ item.event_date|date:"F"  }}"
			data-datetime-day="{{ item.event_date|date:"d"  }}"
			data-datetime-year="{{ item.event_date|date:"Y"  }}"
			data-datetime-weekday="{{ item.event_date|date:"l"  }}"
			data-datetime-clock="{{ item.event_date|time:"H:i" }}"></time>
		</div>
		
		<div class="article_body">
			{% comment %}
			<aside class="related_news">
				<div class="column_header">
					Связанные новости отрасли
				</div>
				<ul>

					<li>
						<time class="time_and_date_short"
						data-datetime-clock="15:40"
						data-datetime-month="Май"
						data-datetime-month-short="05"
						data-datetime-day="17"
						data-datetime-year="2015"
						data-datetime-year-short="15"
						data-datetime-weekday="Вторник"
						data-datetime-weekdayshort="Вт"></time>
						<dl>
							<dt>
								<!-- ссылка на новости из раздела интернет, софт -->
								<a href="">Что у нас тут?</a>
							</dt>
							<dd>
								<!-- ссылка на новость -->
								<a href="">А тут?</a>
							</dd>
						</dl>
					</li>

			</aside>
			{% endcomment %}
			<div class="article_content">
				{% autoescape off %}{{ item.text }}{% endautoescape %}
			</div>
		</div>
		<!-- <img src= "{{ item.author.image.url }}" alt="" />
		{{ item.caption }}-->
		{% endfor %}
	</article>
            <div class="nav_panel container">
                <a href="{{ page_url }}{{ previous_context.id }}" class="prev_partner">{{ previous_context.name }}</a>
                <a href="{{ page_url }}{{ next_context.id }}" class="next_partner">{{ next_context.name }}</a>
            </div>
</section>

{% endblock content %}
{% if image_count > 1 %}

{% endif %}
		
	{% block scripts_block_at_the_end_of_document %}
		{% if image_count > 1 %}	
		<script src="{% static "js/bjqs-1.3.custom.js" %}"></script>
		<script type="text/javascript" charset="utf-8">
			jQuery(document).ready(function($) {
				$('#slider').bjqs({
					height : 320,
					width : 620,
					showmarkers: false,
					responsive : true,
					automatic : false 
				});
			}); 
		</script>
		{% endif %}
	{% endblock scripts_block_at_the_end_of_document %}
