{% extends "base.html" %}
{% load staticfiles %}

{% block css_block %}	
	<link type="text/css" rel="stylesheet" href="{% static "css/project.css" %}" />	
{% endblock css_block %}	

{% block content %}
        <section class="container">
            <div class=" breadcrumbs">
				<a href="/">Главная</a> / <a href="{{ page_url }}">{{ page_name }}</a>
			</div>
            <div class="nav_panel container">
                <a href="{{ page_url }}{{ previous_context.id }}" class="prev_partner">{{ previous_context.name }}</a>
                <a href="{{ page_url }}{{ next_context.id }}" class="next_partner">{{ next_context.name }}</a>
            </div>
            <article class="project">
                <div class="container">
                    {% for item in context %}

                        <header>{{ item.name }}</header>
                        <p class="intro">
                        {% autoescape off %}
                            {{ item.preview }}
                        {% endautoescape %}
                        </p>
                    {% endfor %}

                        <div class="col1">
                            {% for paragraph in context_col1 %}
                                <p>{% autoescape off %}
                                    {{ paragraph.text }}
                                {% endautoescape %}
                                </p>
                                <figure class="centered">
                                    {% if paragraph.image %}
                                        <img src="{{ paragraph.image.url }}" alt="" />
                                    <figcaption>{% autoescape off %}
                                        {{ paragraph.text_image }}
                                    {% endautoescape %}</figcaption>
                                    {% endif %}
                                </figure>
                            {% endfor %}
                        </div>
                        <div class="col2">
                            {% for paragraph in context_col2 %}
                                <p>{% autoescape off %}
                                    {{ paragraph.text }}
                                {% endautoescape %}
                                </p>
                                <figure class="centered">
                                    {% if paragraph.image %}
                                        <img src="{{ paragraph.image.url }}" alt="" />
                                    <figcaption>{% autoescape off %}
                                        {{ paragraph.text_image }}
                                    {% endautoescape %}</figcaption>
                                    {% endif %}
                                </figure>
                            {% endfor %}
                        </div>
                </div>
            </article>
            <div class="nav_panel container">
                <a href="{{ page_url }}{{ previous_context.id }}" class="prev_partner">{{ previous_context.name }}</a>
                <a href="{{ page_url }}{{ next_context.id }}" class="next_partner">{{ next_context.name }}</a>
            </div>
        </section>
{% endblock content %}